body {
	font-family: "Roboto", sans-serif;
	color: #252525;
}
header {
	margin-bottom: 40px;
	background-color: #eebb44;
}

header h1 {
	margin-bottom:0;
	line-height: 1;
}

.boxcard{
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

.image{
	width: 100%;
}

.card-description{
	padding : 20px;
}

.card-description h3{
	margin-top:0;
	margin-bottom: 0;
}

.card-description p{
	margin: 0.5em 0;
}